// ----------------------------------------------
// Fonts
// ----------------------------------------------
@font-face {
  font-family: poppins-regular;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/poppins-regular.woff");
}

// ----------------------------------------------
// Tags
// ----------------------------------------------
body {
  background-color: $secondary;
}
h5 {
  padding: 0;
  margin: 0;
  color: $primary;
  font-size: 20px;
  font-weight: 500;
}
h6 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

// ----------------------------------------------
// Classes
// ----------------------------------------------
.router-link {
  text-decoration: none;
  color: inherit;
}

.card {
  padding: 20px 20px;
  border-radius: $card-corner-radius;
  border-color: $secondary;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.08);
  background-color: $secondary;
}

.toolbar,
.header-container,
.body-container,
.footer-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 20px;
}

.header-bg {
  background-image: url("~assets/index/clouds-head.png");
  height: 550px;
}

.tab-panel-container {
  background-color: $secondary;
}
