// ----------------------------------------------
// Fonts
// ----------------------------------------------
@font-face {
  font-family: poppins-regular;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/poppins-regular.woff");
}

// ----------------------------------------------
// Classes
// ----------------------------------------------
body {
  background-color: $secondary;
}
