// ----------------------------------------------
// Fonts
// ----------------------------------------------
@font-face {
  font-family: poppins-regular;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/poppins-regular.woff");
}

// ----------------------------------------------
// Tags
// ----------------------------------------------
body {
  background-color: $secondary;
}
h5 {
  padding: 0;
  margin: 0;
  color: $primary;
  font-size: 20px;
  font-weight: 500;
}
h6 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

// ----------------------------------------------
// Classes
// ----------------------------------------------
.router-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.q-card,
.q-table__container.wallet-table {
  padding: 20px 20px;
  border-radius: $card-corner-radius;
  border-color: $secondary;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.08);
  background-color: $secondary;
}

.q-dialog__inner .q-card {
  border-radius: $card-corner-radius;
}

.toolbar,
.header-container,
.body-container,
.footer-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 20px;
}

.header-bg {
  background-image: url("~assets/index/clouds-head.png");
  height: 550px;
}

.tab-panel-container {
  background-color: $secondary;
}

.poolcard-container {
  display: grid;
  grid-gap: 20px;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: min-content;
}

.hover-accent {
  & .q-btn__wrapper::before {
    transition: all 0.15s ease-in-out;
  }
  &:hover,
  &:focus {
    & .q-btn__wrapper::before {
      background-color: $accent;
      border-color: $accent;
    }
    & .q-btn__wrapper .q-btn__content {
      color: $secondary;
    }
  }
  &.disabled {
    color: gray !important;
  }
  &:hover.disabled,
  &:focus.disabled {
    & .q-btn__wrapper::before {
      color: gray;
      background-color: gray;
      border-color: gray;
    }
  }
}

.menu-btn {
  & .q-btn__wrapper::before {
    border: 2px solid currentColor;
  }
}

.networks {
  .q-btn {
    background-color: silver;
    color: $secondary;
    width: 120px;
    align-items: center;
    margin: 5px 10px;
    @media only screen and (max-width: 375px) {
      width: 100px;
    }
  }
  .q-btn.selected-network {
    background-color: $space;
  }
}
